article { 
	background: #FDFCFC;
	border-color: #FDFCFC;
	grid-column: 1;
	grid-row: 2 / 4;
}

nav { 	
	background: #B4D6EF;
	border-color: #e7c157;
	grid-column: 1;
	grid-row: 2 / 4;
	text-align: center;
}

header { 
	background: #B4D6EF;
	border-color: #d5d5d5;
	grid-column: 1 / span 1;
	grid-row: 1;
	text-align: center;
}

side {
	background: #B4D6EF;
	border-color: #d5d5d5;
	grid-column: 1;
	grid-row: 2 / 4;
	text-align: center;
	
	]
