body {
	
	margin: 10px auto;
	max-width: 60em;
	font-family: sans-serif;
	color: #333333;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 150px 1fr 1fr 100px;
	min-height: 100vh;
	background-color: #A09F9D;
	gap: 10px 10px;
}

header,
nav,
main,
article,
section,

header { 
	background: #B4D6EF;
	border-color: #d5d5d5;
	grid-column: 1 / span 3;
	grid-row: 1;
	text-align: center;
}

article { 
	background: #FDFCFC;
	border-color: #FDFCFC;
	grid-column: 2;
	grid-row: 2 / 4;
}

nav { 	
	background: #B4D6EF;
	border-color: #e7c157;
	grid-column: 1;
	grid-row: 2 / 4;
}




