body {
	margin: 10px auto;
	max-width: 60em;
	font-family: sans-serif;
	color: #333333;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 150px 1fr 1fr 100px;
	min-height: 100vh;
	bgcolor: #A09F9D;
}

header,
nav,
main,
article,
section,

header {
	background: #EFB27A;
	border-color: #d5d5d5;
	grid-column: 1 / span 3;
	grid-row: 1;
}

nav {
	background: #fffbf0;
	border-color: #e7c157;
	grid-column: 1;
	grid-row: 2 / 4;
}

article {
	background: #ffede0;
	border-color: #df6c20;
	grid-column: 2;
	grid-row: 2 / 4;
}



